<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create Receipt</h1>
                {% comment %} <table>
                    <thead>
                        <tr>
                            <th>Vendor</th>
                            <th>total</th>
                            <th>tax</th>
                            <th>date</th>
                            <th>category</th>
                            <th>account</th>
                        </tr>
                    </thead>
                    <tbody>
                <tr> {% endcomment %}
                    <form method="post">
                        {% csrf_token %}
                        <input type = "text" name = "vendor">
                        <input type = "text" name = "total">
                        <input type = "text" name = "tax">
                        <input type = "text" name = "date">
                        <select name = "category">
                            <select name = "account">
                                <button>create</button>
                                {% comment %} </form>
                                </tr>
                            </tbody>
                                </table> {% endcomment %}
                            </div>
                        </main>
                    </body>
                </html>
